*{
	margin: 0;
	padding: 0;
}

#lobby, #game_room{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

#game_room{
	display:none;
}

.tile{
	height: 50px;
	width: 30px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	border: 1px solid #bbb;
	border-radius: 3px; 
	user-select: none;
	position: absolute;
	top: 0px;
	transition: left 0.2s;
	background-color: white;
}

#members{
	width: 1000px;
	height: 50px;
}

.member{
	width: 250px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
}
.member.host{
	background-color: #bbf;
}

#hand{
	background-color: wheat;
	width: 1000px;
	height: 200px;
	position: absolute;
}

#board{
	background-color:azure;
	position: absolute;
	width: 1000px;
	height: 600px;
}

#lobby_header{
	width: 100vw;
	height: 9.5vh;
	border-bottom: 0.5vh solid gray;
}

#user_id{
	height: 9.5vh;
	line-height: 9.5vh;
	padding-left: 2vw;
}

#create, #exit{
	height: 100px;
	width: 100px;
	color: white;
	border: none;
	font-size: 60px;
	line-height: 100px;
	z-index: 2;
	position: absolute;
	right: 20px;
	bottom: 20px;
	border-radius: 100px;
}

#create{
	background-color: orange;
}

#exit{
	background-color: crimson;
}

#refresh, #start{
	height: 50px;
	width: 50px;
	background-color: #37bd4d;
	color: white;
	border: none;
	font-size: 30px;
	line-height: 50px;
	z-index: 2;
	position: absolute;
	right: 20px;
	bottom: 130px;
	border-radius: 50px;
}

#rooms{
	width: 100vw;
	height: 90vh;
	overflow-x: hidden;
}

.room{
	width: 95vw;
	height: 10vh;
	line-height: 10vh;
	border-bottom: 0.5vh solid gray;
	padding-left: 5vw;
	user-select: none;
}
.room:hover{
	background-color: #eee;
}

button:disabled{
	opacity: 0;
}