.tile{
	height: 50px;
	width: 30px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	border: 1px solid #bbb;
	border-radius: 3px; 
	user-select: none;
	position: absolute;
	top: 0px;
	transition: left 0.2s;
	background-color: white;
}

#members{
	width: 1000px;
	height: 50px;
	display: none;
}

.member{
	width: 250px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
}
.member.host{
	background-color: #bbf;
}

#hand{
	background-color: wheat;
	width: 1000px;
	height: 200px;
	position: absolute;
	display: none;
}

#board{
	background-color:azure;
	display: none;
	width: 1000px;
	height: 600px;
}

#rooms{
	width: 1000px;
	height: 800px;
}

.room{
	width: 996px;
	height: 46px;
	line-height: 46px;
	border: 2px solid gray;
	padding-left: 20px;
	user-select: none;
}
.room:hover{
	background-color: #eee;
}

#exit, #start{
	display: none;
}

button:disabled{
	opacity: 0.6;
}