*{
	margin: 0;
	padding: 0;
}

#lobby, #game_room{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

#game_room{
	display:none;
}

.tile{
	height: 50px;
	width: 30px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	border: 1px solid #bbb;
	border-radius: 3px; 
	user-select: none;
	position: absolute;
	top: 0px;
	transition: left 0.2s;
	background-color: white;
}

#members{
	width: 15vw;
	height: 100vh;
	background-color:darkblue;
}

.member{
	width: 15vw;
	height: 25vh;
	text-align: center;
	line-height: 25vh;
	display: block;
	position: absolute;
}
.member.host .profile{
	background-color: #bbf;
}

.profile{
	background-color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50px;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	position: absolute;
}

.member.me{
	bottom:0;
	left:0;
}

#hand{
	background-color: rgb(235, 183, 88);
	width: 70vw;
	height: 25vh;
	left: 15vw;
	bottom: 0;
	position: absolute;
}

#board{
	background-color:darkblue;
	position: absolute;
	width: 70vw;
	height: 75vh;
	left: 15vw;
	top:0;
}

#controls{
	background-color:darkblue;
	position: absolute;
	width: 15vw;
	height: 100vh;
	left: 85vw;
	top:0;
}

#lobby_header{
	width: 100vw;
	height: 9.5vh;
	border-bottom: 0.5vh solid gray;
}

#user_id{
	height: 9.5vh;
	line-height: 9.5vh;
	padding-left: 2vw;
}

#create, #exit{
	height: 11vw;
	width: 11vw;
	color: white;
	border: none;
	line-height: 11vw;
	z-index: 2;
	position: absolute;
	right: 2vw;
	bottom: 2vw;
	border-radius: 11vw;
}

#create{
	background-color: orange;
	font-size: 8vw;
}

#exit{
	background-color: crimson;
	font-size: 3vw;
}

#refresh, #start{
	height: 5vw;
	width: 5vw;
	background-color: #37bd4d;
	color: white;
	border: none;
	font-size: 2vw;
	line-height: 5vw;
	z-index: 2;
	position: absolute;
	right: 2vw;
	bottom: 15vw;
	border-radius: 5vw;
}

#refresh{
	font-size: 4vw;
}

#sortNumber, #sortColor{
	height: 7vw;
	width: 7vw;
	background-color: darkcyan;
	color: white;
	border: none;
	font-size: 2vw;
	line-height: 5vw;
	z-index: 2;
	position: absolute;
	right: 4vw;
	bottom: 30vw;
	border-radius: 7vw;
}

#sortColor{
	bottom: 23vw;

}

#sortBG{
	height: 14vw;
	width: 7vw;
	background-color: darkcyan;
	position: absolute;
	border: none;
	right: 4vw;
	bottom: 23vw;
	z-index: 1;
	border-radius: 7vw;
}

#sortLine{
	background-color: white;
	position: absolute;
	width: 5vw;
	height: 0.2vw;
	bottom: 29.9vw;
	right: 5vw;
	z-index: 3;
}



#rooms{
	width: 100vw;
	height: 90vh;
	overflow-x: hidden;
}

.room{
	width: 95vw;
	height: 10vh;
	line-height: 10vh;
	border-bottom: 0.5vh solid gray;
	padding-left: 5vw;
	user-select: none;
}
.room:hover{
	background-color: #eee;
}

button:disabled{
	opacity: 0;
}